@{
    Layout = "Shared\\_Layout.cshtml";
}
<div id="container">
    <div id="header">
        <h2>Добро пожаловать на наш сайт, @ViewBag.User.name</h2>
        <h3 align="right">
            @if (ViewBag.User.id == 0)
            {

            <a href="Person/Enter">Войти</a>
            <a href="Person/Reg">Зарегистрироваться</a>
            <p><a href="Home/showBasket">Корзина</a></p>
            }
            else
            {
                <a href="Person/Exit">Выйти</a>
            }

        </h3>
    </div>

    <div id="navigation">
        <h2>Блок навигации</h2>
    </div>

    <div id="content">
        <h2>Контент</h2>
    </div>

    <div id="clear">

    </div>

    <div id="footer">
        <h2>Подвал сайта</h2>
    </div>
</div>