@{
    Layout = "Shared\\_Layout.cshtml";
}

<div>
    <h3>Форма регистрации</h3>
    <form method="post" action="">
        <table>
            <tr>
                <td><p>Введите свое имя </p></td>
                <td><input type="text" name="name" /> </td>
            </tr>
            <tr>
                <td><p>Введите  email:</p></td>
                <td>
                    <input type="text" name="emal" />
                </td>
            </tr>
            <tr>
                <td><p>Введите  пароль:</p></td>
                <td>
                    <input type="password" name="password" />
                </td>
            </tr>
            <tr>
                <td><input type="submit" value="Зарегистрироваться" /> </td>
                <td></td>
            </tr>
        </table>
    </form>
</div>