
body {
    font-size: 13px;
    font-family: Verdana, Arial, Helvetica, Sans-Serif;
    background-color: #f7f7fa;
    padding-left:40px;
}
nav{
    display: block;
}
   
.menu {
    padding-left:10px;
}
.menu ul {
    list-style:none;
}
.menu li {
    display:inline;
}
.menu a:hover {
    color:red;
}
table {
   vertical-align:middle;
   text-align:left; 
 }
.header {
    font-weight:bold;
}
 td {
    padding-right:10px;
 }
input {
    width: 150px;
}
#container {
            background:#99CC99;
            margin: 30px auto;
            width: 900px;
            height: 1600px;
}
 
#header {
            background: #66CCCC;
            height: 100px;
            width: 900px;
}
 
#navigation {
            background: #FF9999;
            width: 900px;
            height: 60px;
}
 
#menu{
                background: #f7f7fa;
            left:auto;
 
            width: 900px;
            height: 1200px;

}
#content {
            background: #f7f7fa;
            
 
            width: 900px;
            height: 1200px;
}
 
#clear {
            clear:both;
}
 
#footer {
            background: #0066FF;
            height: 240px;
            width: 900px;
}